
/*fonts*/
*{
  font-family: 'Quicksand', sans-serif;
}
.title {
  font-weight: 400;
}
.subtitle {
  font-weight: 300;
}
.sectionTitle {
  color: #00847a;
  font-weight: bold;
}

/*header*/
header {
  background-color: #ace8dc;
}
#logoImage {
  margin-top: 5px;
  width: 100px;
  height: 90px;
  margin-bottom: 5px;
}

/*main image section*/
hr {
  border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
#mainImage {
  height: 350px;
  max-width: 100%;

}
.aboutDescription {
  margin-top: 30px;
}

/*featured work*/
.description {
  max-width: 100%;
  text-align: center;
}
img {
  max-width: 100%;
}
.projImage {
  max-width: 100%;
  margin: 2%;
  cursor: pointer;
}

.projImage:hover {
  opacity: 0.5;
}
.modalImage {
  width: 77px;
  height: 77px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.modalDes {
  text-align: center;
}

.projLink {
  display: block;
  text-align: center;
}

.mockupImage {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.appImage {
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
